/* @font-face {
  font-family: "Google Sans Mono";
  src: url("fonts/Google-Sans-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("fonts/Google-Sans-Mono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("fonts/Google-Sans-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
} */
/*
@font-face {
  font-family: "Google Sans Mono";
  src: url("fonts/Google-Sans-Mono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
*/
* {

  margin: 0;
  outline: 0;
}
  
.window {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-items: center;
}

:root {
  --side_gray: #1e1f20;
}
